/* =========================
   BADGE CARRITO
========================= */
.cart-btn {
    position: relative;
}

.cart-badge {
    position: absolute;
    top: -4px;
    right: -4px;
    background: #e63946;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

/* PANEL CARRITO */
.side-panel {
    position: fixed;
    top: 0;
    right: -400px;
    width: 380px;
    height: 100vh;
    background: #fff;
    box-shadow: -5px 0 20px rgba(0,0,0,.2);
    transition: .4s;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}
.side-panel.active {
    right: 0;
}

.panel-header, .panel-footer {
    padding: 16px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.panel-content {
    flex: 1;
    padding: 16px;
    overflow-y: auto;
}

.primary-btn {
    width: 100%;
    padding: 14px;
    background: #111;
    color: #fff;
    border: none;
    border-radius: 30px;
}
