/* ============================================
   HEADER (COMPARTIDO ENTRE PÁGINAS)
   ============================================ */
.navbar {
    background-color: var(--primary-color);
    padding: 0 40px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 900;
    box-shadow: 0 2px 10px var(--shadow-light);
}
.nav-left {
    font-family: var(--font-primary);
    font-size: clamp(1rem, 2rem, 3rem);
    color: var(--background-light);

}
.logo-link {
    display: block;
}

.logo-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
}

.logo-circle:hover {
    transform: scale(1.05);
    border-color: rgba(255, 255, 255, 0.4);
}

.logo {
    width: 45px;
    height: 45px;
    filter: brightness(0) invert(1);
}

.icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    transition: all 0.3s ease;
    background-color: var(--primary-color);
}

.icon-btn:hover {
    border-color: var(--background-light);
    transform: scale(1.5);
}

/* ===========================
   HEADER
=========================== */

.modal-header {
    background: #c9a85d;
    padding: 20px;
    border-radius: 18px 18px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.modal-header img {
    height: 40px;
}

.close-modal {
    position: absolute;
    right: 15px;
    top: 12px;
    background: none;
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}


/* ===========================
   TITULO
=========================== */

.modal-box h2 {
    margin: 25px 0 15px;
    font-size: 22px;
}