
/* Sección "Date ese gustico" */
.gustico-section {
    padding: 80px 40px;
    background-color: var(--background-light);
    text-align: center;
}

.gustico-section .section-header {
    margin-bottom: 60px;
}

.gustico-title {
    font-size: 5.2rem;
    color: var(--primary-color);
    margin-bottom: 15px;
    font-weight: 600;
}

.gustico-subtitle {
    color: var(--text-medium);
    font-size: 1.8rem;
}

.category-info {
    padding: 25px;
    background-color: white;
}

.category-info h3 {
    font-size: 4rem;
    margin-bottom: 10px;
    color: var(--text-dark);
}

.category-info p {
    color: var(--text-light);
    font-size: 2rem;
}
