/* Categorías del Menú */
.menu-categories {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.category-card {
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 20px var(--shadow-light);
    transition: transform 0.3s ease;
    background-color: white;
}

.category-card:hover {
    transform: translateY(-10px);
}

.category-link {
    display: block;
}

.category-image-container {
    height: 280px;
    overflow: hidden;
}

.category-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.category-card:hover .category-image-container img {
    transform: scale(1.05);
}
