/* =========================================
   TABLA
========================================= */

.tabla-pedidos__container {
  overflow-x: auto;
  border-radius: 0;

  background: #111827;
  border: 1px solid #1f2937;

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.25);

  scrollbar-width: thin;
}

#tabla-pedidos {
  width: 100%;
  min-width: 900px;

  border-collapse: collapse;
  color: #e5e7eb;

  font-size: 0.95rem;
}


/* =========================================
   ENCABEZADO
========================================= */

#tabla-pedidos thead {
  background: #1f2937;
  font-family: texto-tablas, sans-serif;
}

#tabla-pedidos th {
  padding: 1rem;
  text-align: left;

  font-weight: 600;
  letter-spacing: 0.3px;

  color: #d1d5db;

  border-bottom: 1px solid #374151;

  position: sticky;
  top: 0;
  z-index: 3;
}


/* =========================================
   FILAS
========================================= */

#tabla-pedidos tbody tr {
  transition:
    background 0.2s ease,
    transform 0.15s ease;
}

#tabla-pedidos tbody tr:nth-child(even) {
  background: #18212f;
}

#tabla-pedidos tbody tr:hover {
  background: #243041;
}

#tabla-pedidos td {
  padding: 1rem;
  border-bottom: 1px solid #263244;

  white-space: nowrap;
}


/* =========================================
   PRIMERA COLUMNA FIJA
========================================= */

#tabla-pedidos th:first-child,
#tabla-pedidos td:first-child {
  position: sticky;
  left: 0;
  z-index: 2;

  background: white;
  color: #111827;
}

#tabla-pedidos tbody tr:nth-child(even) td:first-child {
  background: white;
  color: #111827;
}

#tabla-pedidos tbody tr:hover td:first-child {
  background: #243041;
  color: white;
}

#tabla-pedidos th:first-child {
  z-index: 5;
}

